body {
    background-color: #2f2f2f;
    color: #f0f0f0;
}
img.side {
    margin: 50px;
}

#logo {
    width: 25%;
    height: 25%;
    margin: 10%;
}

p, ul, h2 {
    margin: 20px;
}

.uncolored, .colored {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colored {
    background-color: #2f2f2f;
    color: #f0f0f0;
}

.uncolored {
    background-color: #fff;
    color: #000;
}

.content {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

header {
    background-image: url("farm.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}