img.side {
    margin: 50px;
}

p, ul, h2 {
    margin: 20px;
}

div.uncolored, div.colored {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.colored {
    background-color: #2f2f2f;
    color: #f0f0f0;
}

div.content {
    margin-bottom: 20px;
}
